/* element selector */
body {
    max-width: 1024px;
    margin: auto;
    background-color:  aquamarine;
}

ul, p {
    margin: 0px;
} 

p {
    padding: 0px 0px 20px
}

article {
    /* font-style: italic;    */
    font-family: "Verdana";
}

/* class selector */
.classcolor {
    background-color: #FAEBD7;
    
} 

/* ID selector */
#italics {
    font-style: italic;
}




/* div {
    background-color: lightblue;
    padding-top: 25 px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
} */

/* #AMS {
    style="width:237px; height:110px"
} */

